<div class="footer">
  <a href="#" class="">
    <span class="fw-bold display-6 text-secondary text-center">Trends.</span>
  </a>
  <ul class="d-flex flex-column flex-sm-row">
    <li>
      <a class="text-secondary" href="#">Home</a>
    </li>
    <li>
      <a class="text-secondary" href="#">Men</a>
    </li>
    <li>
      <a class="text-secondary" href="#">Women</a>
    </li>
    <li>
      <a class="text-secondary" href="#">Kids</a>
    </li>
    <li>
      <a class="text-secondary" href="#">Contact Us</a>
    </li>
  </ul>
  <p class="text-secondary">&#169; Copyright 2022</p>
</div>
