<nav class="navbar bg-light">
  <div class="container">
    <a href="#" class="navbar-brand">
      <span class="fw-bold display-6 text-secondary">Trends.</span>
    </a>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">Men</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">Women</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">Children</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">Contact Us</a>
      </li>
    </ul>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">
          <fa-icon [icon]="['fas', 'cart-shopping']"></fa-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#"> Sign In </a>
      </li>
    </ul>
  </div>
</nav>
