<div class="container-md">
  <!-- No product found -->
  <div *ngIf="product == undefined">
    <h4 class="text-center mt-5 text-secondary">No product found.</h4>
  </div>

  <!-- Product item display -->
  <div
    style="max-width: 1000px; height: 75vh; margin: 0 auto"
    class="d-lg-flex"
  >
    <div *ngIf="product != undefined" class="row align-items-center">
      <div class="col-md-6 col-xl-7">
        <div class="p-2">
          <img src="{{ product?.image }}" alt="" style="width: 100%" />
        </div>
      </div>
      <div class="col-md-6 col-xl-5 mt-2">
        <div class="ps-5">
          <h2 class="display-5">{{ product?.name }}</h2>
          <p class="display-6" style="font-size: 1.2rem; color: #216869">
            LKR {{ product?.price }}
          </p>
          <br />

          <form [formGroup]="form" (submit)="addToCart()">
            <p
              [ngClass]="{
                'text-danger': !form.get('size')?.valid && formSubmitAttempt,
                'fw-bold': !form.get('size')?.valid && formSubmitAttempt
              }"
              style="font-size: 13px"
            >
              Select Size
            </p>
            <div class="size">
              <div *ngFor="let stock of product?.productStock; let i = index">
                <input
                  type="radio"
                  value="{{ stock.size }}"
                  id="{{ stock.size }}"
                  formControlName="size"
                  required
                />
                <label for="{{ stock.size }}" class="option">{{
                  stock.size | uppercase
                }}</label>
              </div>
            </div>
            <br />

            <div class="d-flex flex-row">
              <select formControlName="quantity" id="" class="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
              <button class="btn btn-outline-success ms-3">Add to cart</button>
            </div>
          </form>
          <p
            class="mt-4 display-6"
            style="text-align: justify; font-size: 15px"
          >
            {{ product?.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
