<div
  [routerLink]="['/product', product.id]"
  class="product-container overflow-hidden"
>
  <div class="product-img position-relative">
    <img
      src="{{ product.image }}"
      alt="{{ product.image }}"
      style="width: 100%; height: auto"
      class="rounded"
    />
  </div>
  <p
    style="
      color: #011936;
      letter-spacing: 1.2px;
      font-size: 14px;
      word-wrap: break-all;
    "
  >
    {{ product.name }}
  </p>
  <p style="color: #216869">LKR {{ product.price }}</p>
</div>
