<div class="mt-5">
  <div class="d-flex justify-content-between">
    <p class="text-secondary">Ships to : Jaffna, Sri Lanka</p>
    <a href="" class="text-secondary text-decoration-underline">Change</a>
  </div>
  <h3 class="mt-4">Delivery Options</h3>
  <form class="mt-4">
    <div>
      <input
        type="radio"
        name="delivery"
        id="standard"
        value="standard"
        checked
      />
      <label for="standard" class="option d-flex justify-content-between">
        <span>Standard Shipping</span>
        <span>Rs. 250</span>
      </label>
    </div>
    <div>
      <input type="radio" name="delivery" id="express" value="express" />
      <label for="express" class="option d-flex justify-content-between">
        <span>Express Shipping</span>
        <span>Rs. 450</span>
      </label>
    </div>
    <div class="mt-5 d-flex justify-content-between">
      <button class="btn text-secondary" routerLink="/checkout/information">
        <fa-icon [icon]="['fas', 'angle-left']"></fa-icon> &nbsp; Information
      </button>
      <button
        class="btn btn-danger align-items-center"
        (click)="routeToPayment()"
      >
        Continue to Payment &nbsp;
        <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
      </button>
    </div>
  </form>
</div>
