<div class="container mt-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div *ngFor="let product of products" class="col">
      <app-product [product]="product"></app-product>
    </div>

    <div *ngFor="let product of products" class="col">
      <app-product [product]="product"></app-product>
    </div>

    <div *ngFor="let product of products" class="col">
      <app-product [product]="product"></app-product>
    </div>

    <div *ngFor="let product of products" class="col">
      <app-product [product]="product"></app-product>
    </div>
  </div>
</div>
